<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter6">

    <application>
        <activity android:name=".saveMethod.SaveActivity"></activity>
        <activity android:name=".sqlite.SqliteActivity" />
    </application>

</manifest>