<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter9">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".http.HttpActivity"></activity>
        <activity android:name=".webview.WebViewActivity" />
    </application>

</manifest>