<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter7">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application>


        <activity android:name=".contact.ContactActivity" />
        <activity android:name=".permission.PermissionActivity" />
    </application>

</manifest>